<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <f:view renderKitId="PRIMEFACES_MOBILE"  >   

        <h:head>   
        </h:head>
        <h:body>
            <pm:page id="config">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="arealogada" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>

                <pm:content>           
                    <h:form id="formConfig">
                        <p:growl id="growl" life="2000" />
                        <p:menu styleClass="ui-listview-inset ui-corner-all ui-group-theme-a">
                            <p:submenu label="Aulas">
                                <p:menuitem value="Adiciona/Remove aulas" icon="ui-icon-clock" outcome="pm:addAula" style="font-size: 12px" />
                                <p:menuitem value="Aprova checkins" outcome="aprovacao" icon="ui-icon-star" style="font-size: 12px" />
                                <p:menuitem value="Delega aprovação" outcome="pm:addAprovacao" icon="ui-icon-forward" style="font-size: 12px" />
                            </p:submenu>
                            <p:submenu label="Administrativo">
                                <p:menuitem value="Gerencia pagamentos"  icon="ui-icon-info"  outcome="pm:gerPagamento" style="font-size: 12px" />
                                <p:menuitem value="Dispara avisos pagamentos atrasados" outcome="pm:dispAvisosPag" icon="ui-icon-action" style="font-size: 12px" />
                                <p:menuitem value="Mensagem" outcome="pm:dispMensagens" icon="ui-icon-mail" style="font-size: 12px" />
                            </p:submenu>
                            <p:submenu label="Frequência">
                                <p:menuitem value="Frequência geral/mês" outcome="pm:freqMes"  icon="ui-icon-eye" style="font-size: 12px" />
                                <p:menuitem value="Alunos inativos" outcome="pm:alunosInativos"  icon="ui-icon-user" style="font-size: 12px" />
                            </p:submenu>
                        </p:menu>
                    </h:form>
                </pm:content>
            </pm:page>

            <pm:page id="addAprovacao" lazy="true" >
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="admin" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>
                <pm:content>           
                    <h:form id="formAddAprovacao">
                        <p:growl id="growl3" life="2000"  />
                        <pm:field>
                            <p:selectOneMenu id="selectOneAula" value="#{checkinsHelper.straula}" >
                                <p:ajax listener="#{checkinsHelper.onAulaChange}" update="formAddAprovacao" />
                                <f:selectItem itemLabel="" itemValue="" />
                                <f:selectItems value="#{checkinsHelper.aulasRecentes}" />
                            </p:selectOneMenu>
                        </pm:field>
                        <h:outputText style="font-size: 20px; font-weight: bold;" value="#{checkinsHelper.usuarioAprovador[0]}" />
                        <pm:field>
                            <p:selectOneMenu id="selectOneUser" value="#{checkinsHelper.strusuario}" >
                                <p:ajax listener="#{checkinsHelper.onAulaChangeAprovador}" update="formAddAprovacao" />
                                <f:selectItem itemLabel="" itemValue="" />
                                <f:selectItems id="sel" value="#{checkinsHelper.usuariosMap}"  />
                            </p:selectOneMenu>
                        </pm:field>

                    </h:form>
                </pm:content>
            </pm:page>
            <pm:page id="addAula" lazy="true">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="admin" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>
                <pm:content>           
                    <h:form id="formEditaAula">
                        <p:growl id="growl1" life="2000"  />
                        <pm:field>
                            <p:calendar id="calend1" value="#{aulasHelper.date1}" >
                                <p:ajax event="dateSelect" listener="#{aulasHelper.onDateSelect}" update="formEditaAula" />
                            </p:calendar>
                        </pm:field>
                        <h:panelGrid id="gridAula" columns="2">
                            <pm:field rendered="#{aulasHelper.date1 != null}">
                                <p:outputLabel for="selectAcademia" value="Academia" />
                                <p:selectOneMenu id="selectAcademia" value="#{aulasHelper.stracademia}" required="true">
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItems value="#{aulasHelper.academias}" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field rendered="#{aulasHelper.date1 != null}">
                                <p:outputLabel for="selectAula" value="Aula" />
                                <p:selectOneMenu id="selectAula" value="#{aulasHelper.straula}" required="true">
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItems value="#{aulasHelper.categorias}" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field rendered="#{aulasHelper.date1 != null}">
                                <p:outputLabel for="selectOneHora" value="Horário" />
                                <p:selectOneMenu id="selectOneHora" value="#{aulasHelper.strhorario}" required="true">
                                    <f:selectItem itemLabel="06" itemValue="06" />
                                    <f:selectItem itemLabel="07" itemValue="07" />
                                    <f:selectItem itemLabel="08" itemValue="08" />
                                    <f:selectItem itemLabel="09" itemValue="09" />
                                    <f:selectItem itemLabel="10" itemValue="10" />
                                    <f:selectItem itemLabel="11" itemValue="11" />
                                    <f:selectItem itemLabel="12" itemValue="12" />
                                    <f:selectItem itemLabel="13" itemValue="13" />
                                    <f:selectItem itemLabel="14" itemValue="14" />
                                    <f:selectItem itemLabel="15" itemValue="15" />
                                    <f:selectItem itemLabel="16" itemValue="16" />
                                    <f:selectItem itemLabel="17" itemValue="17" />
                                    <f:selectItem itemLabel="18" itemValue="18" />
                                    <f:selectItem itemLabel="19" itemValue="19" />
                                    <f:selectItem itemLabel="20" itemValue="20" />
                                    <f:selectItem itemLabel="21" itemValue="21" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field rendered="#{aulasHelper.date1 != null}">
                                <p:outputLabel for="selectOneHora2" value="" />
                                <p:selectOneMenu id="selectOneHora2" value="#{aulasHelper.strhorario2}" required="true">
                                    <f:selectItem itemLabel=":00" itemValue=":00" />
                                    <f:selectItem itemLabel=":30" itemValue=":30" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field rendered="#{aulasHelper.date1 != null}">
                                <p:outputLabel for="selectVagas" value="Vagas" />
                                <p:selectOneMenu id="selectVagas" value="#{aulasHelper.strvagas}" required="true">
                                    <f:selectItem itemLabel="1" itemValue="1" />
                                    <f:selectItem itemLabel="2" itemValue="2" />
                                    <f:selectItem itemLabel="3" itemValue="3" />
                                    <f:selectItem itemLabel="4" itemValue="4" />
                                    <f:selectItem itemLabel="5" itemValue="5" />
                                    <f:selectItem itemLabel="6" itemValue="6" />
                                    <f:selectItem itemLabel="7" itemValue="7" />
                                    <f:selectItem itemLabel="8" itemValue="8" />
                                    <f:selectItem itemLabel="9" itemValue="9" />
                                    <f:selectItem itemLabel="10" itemValue="10" />
                                    <f:selectItem itemLabel="30" itemValue="30" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field rendered="#{aulasHelper.date1 != null}">
                                <p:outputLabel for="switch" value="Replicar até fim do mês"  />
                                <p:inputSwitch id="switch" value="#{aulasHelper.replica}"/>
                            </pm:field>
                            <pm:field rendered="#{aulasHelper.date1 != null}">
                                <p:outputLabel value="" />
                                <p:commandButton value="Grava" action="#{aulasHelper.novaAula}" update="formEditaAula"/>
                            </pm:field>
                        </h:panelGrid>

                        <p:dataList id="dtlistaula" value="#{aulasHelper.listaProximasAulas}" var="aula" pt:data-inset="true" paginator="true" rows="10">
                            <p:ajax event="swipeleft" listener="#{aulasHelper.swipeAula}" update="addAula:formEditaAula" />
                            <p:ajax event="swiperight" listener="#{aulasHelper.swipeAula}" update="addAula:formEditaAula" />
                            <h:outputText value="#{aula.data}" ><f:convertDateTime type="date"  pattern="dd.MM.yyyy" /></h:outputText> <h:outputText value=" #{aula.academia.academia}, #{aula.getCategoriaaula().getAula()}. #{aula.dia}. #{aula.getHorario()}h" />
                        </p:dataList>
                    </h:form>
                </pm:content>
            </pm:page>
            <pm:page id="gerPagamento" lazy="true">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="admin" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>
                <pm:content>           
                    <h:form id="formEditaPagamentos">
                        <p:growl id="growlpag" life="2000"  />
                        <h:panelGrid id="griPag" columns="2">
                            <pm:field>
                                <p:outputLabel for="selectAluno" value="Aluno" />
                                <p:selectOneMenu id="selectAluno" value="#{pagamentosHelper.strAluno}" required="true" >
                                    <p:ajax update="formEditaPagamentos:listaPagamentos" process="@this" />
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItems value="#{checkinsHelper.usuariosMap}" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field>
                                <p:outputLabel for="selectCatAula" value="Modalidade" />
                                <p:selectOneMenu id="selectCatAula" value="#{pagamentosHelper.strAula}" required="true">
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItems value="#{aulasHelper.categorias}" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field>
                                <p:outputLabel for="selectForma" value="Forma pgto." />
                                <p:selectOneMenu id="selectForma" value="#{pagamentosHelper.strForma}" required="true">
                                    <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                                    <f:selectItem itemLabel="Cheque" itemValue="Cheque" />
                                    <f:selectItem itemLabel="Permuta" itemValue="Permuta" />
                                    <f:selectItem itemLabel="Cortesia" itemValue="Cortesia" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field>
                                <p:outputLabel for="valor" value="Valor" />
                                <p:inputText id="valor" required="true" value="#{pagamentosHelper.strValor}" />
                            </pm:field>

                        </h:panelGrid>
                        <h:panelGrid id="gridPag2" columns="1">
                            <pm:field>
                                <p:outputLabel for="calend1" value="1º Vencimento:"  />
                                <p:calendar id="calend1" value="#{pagamentosHelper.date1}" required="true" mode="inline" >
                                </p:calendar>
                            </pm:field>
                            <pm:field>
                                <p:outputLabel for="calend2" value="Último vencimento:"  />
                                <p:calendar id="calend2" value="#{pagamentosHelper.date2}" >
                                </p:calendar>
                            </pm:field>
                        </h:panelGrid>
                        <pm:field>
                            <p:commandButton value="Grava" action="#{pagamentosHelper.criaPagamento}" update="formEditaPagamentos"/>
                        </pm:field>
                        <pm:field>
                            <p:selectOneButton id="selectPeriodoPag" value="#{pagamentosHelper.strPeriodoPag}" >
                                <p:ajax update="formEditaPagamentos" process="@this"  />
                                <f:selectItem itemLabel="Anteriores" itemValue="anteriores" />
                                <f:selectItem itemLabel="Próximos" itemValue="proximos" />
                            </p:selectOneButton>
                        </pm:field>
                        <p:dataList id="listaPagamentos" value="#{pagamentosHelper.listaPagamentos}" var="pag" pt:data-inset="true" paginator="true" rows="10">
                            <p:ajax event="swipeleft" listener="#{pagamentosHelper.swipePagamento}" update="gerPagamento:formEditaPagamentos" />
                            <h:outputText value="Vcto.: "/><h:outputText value="#{pag.id.datavencimento}" ><f:convertDateTime type="date" pattern="dd/MM/yyyy" /></h:outputText> <h:outputText value=" R$#{pag.id.valor},00-#{pag.categoriaaula.aula}" />
                        </p:dataList>
                        <pm:field>
                            <p:separator style="height:10px" />
                            <p:outputLabel for="listaLoginsSemPgto" value="Alunos ativos e sem pagamento: "/>
                            <p:dataList id="listaLoginsSemPgto" value="#{pagamentosHelper.usuariosPrimeiroLogin}" var="sPgto" pt:data-inset="true" paginator="true" rows="10">
                                <h:outputText value="#{sPgto[0]} - " /> <h:outputText value="#{sPgto[1]}" />
                            </p:dataList>
                        </pm:field>
                    </h:form>

                </pm:content>
            </pm:page>
            <pm:page id="dispAvisosPag" lazy="true">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="admin" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>
                <pm:content>           
                    <h:form id="formAvisosPag">
                        <p:growl id="growlpag" life="2000"  />
                        <h:panelGrid id="griPag" columns="1">
                            <pm:field>
                                <p:outputLabel for="selectAluno" value="Aluno" />
                                <p:selectOneMenu id="selectAluno" value="#{pagamentosHelper.strAluno}" required="true" >
                                    <f:selectItem itemLabel="Todos sem pagto a vencer" itemValue="todos" />
                                    <f:selectItems value="#{pagamentosHelper.usuariosAtrasoMap}" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field>
                                <p:commandButton value="Avisar" action="#{pagamentosHelper.enviaAviso}" update="formAvisosPag"/>
                            </pm:field>
                        </h:panelGrid>
                    </h:form>
                </pm:content>
            </pm:page>
            <pm:page id="dispMensagens" lazy="true">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="admin" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>
                <pm:content>           
                    <h:form id="formMensagens">
                        <p:growl id="growlpag" life="2000"  />
                        <h:panelGrid id="griPag" columns="1">
                            <pm:field>
                                <p:outputLabel for="msg" value="Digite sua mensagem:" />
                                <p:inputTextarea id="msg" value="#{pagamentosHelper.strMsg}" />
                            </pm:field>
                            <pm:field>
                                <p:commandButton value="Enviar" action="#{pagamentosHelper.enviaMensagem}" update="formMensagens"/>
                            </pm:field>
                        </h:panelGrid>
                    </h:form>
                </pm:content>
            </pm:page>
            <pm:page id="freqMes" lazy="true">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="admin" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>
                <pm:content>           
                    <h:form id="formFreqMes">
                        <p:growl id="growlpag" life="2000"  />
                        <h:panelGrid id="griPag" columns="2">
                            <pm:field >
                                <p:selectOneMenu id="selectMes" value="#{frequenciaHelper.strmes}" required="true">
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="JAN" itemValue="01" />
                                    <f:selectItem itemLabel="FEV" itemValue="02" />
                                    <f:selectItem itemLabel="MAR" itemValue="03" />
                                    <f:selectItem itemLabel="ABR" itemValue="04" />
                                    <f:selectItem itemLabel="MAI" itemValue="05" />
                                    <f:selectItem itemLabel="JUN" itemValue="06" />
                                    <f:selectItem itemLabel="JUL" itemValue="07" />
                                    <f:selectItem itemLabel="AGO" itemValue="08" />
                                    <f:selectItem itemLabel="SET" itemValue="09" />
                                    <f:selectItem itemLabel="OUT" itemValue="10" />
                                    <f:selectItem itemLabel="NOV" itemValue="11" />
                                    <f:selectItem itemLabel="DEZ" itemValue="12" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field >
                                <p:selectOneMenu id="selectAno" value="#{frequenciaHelper.strano}" required="true">
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="2016" itemValue="2016" />
                                    <f:selectItem itemLabel="2017" itemValue="2017" />
                                    <f:selectItem itemLabel="2018" itemValue="2018" />
                                    <f:selectItem itemLabel="2019" itemValue="2019" />
                                    <f:selectItem itemLabel="2020" itemValue="2020" />
                                    <f:selectItem itemLabel="2021" itemValue="2021" />
                                    <f:selectItem itemLabel="2022" itemValue="2022" />
                                </p:selectOneMenu>
                            </pm:field>
                            <pm:field >
                                <p:selectOneMenu id="selectAula" value="#{frequenciaHelper.straula}" required="true">
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItems value="#{aulasHelper.categorias}"  />
                                </p:selectOneMenu>
                            </pm:field>
                            <p:commandButton value="Calcular" update="formFreqMes" />
                        </h:panelGrid>

                        <p:dataList id="listaFrequencia" value="#{frequenciaHelper.usuariosFreqMap}" var="freq" pt:data-inset="true" paginator="false" type="ordered">
                            <h:outputText value="#{freq[0]} - " /> <h:outputText value="#{freq[1]}" style="color: #fa881a" />
                        </p:dataList>
                    </h:form>
                </pm:content>
            </pm:page>
            <pm:page id="alunosInativos" lazy="true">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="admin" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>
                <pm:content>           
                    <h:form id="formAlunosInativos">
                        <p:growl id="growlpag" life="2000"  />
                        <h:panelGrid id="griPag" columns="1">
                            <pm:field >
                                <h:outputLabel value="Ausentes nos últimos 15 dias na aula:" />
                                <p:selectOneMenu id="selectAula" value="#{frequenciaHelper.straula}" required="true">
                                    <p:ajax update="formAlunosInativos:listaInativos" process="@this"  />
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItems value="#{aulasHelper.categorias}"  />
                                </p:selectOneMenu>
                            </pm:field>
                        </h:panelGrid>
                        <p:dataList id="listaInativos" value="#{frequenciaHelper.usuariosInativos}" var="inat" pt:data-inset="true" paginator="false" >
                            <h:outputText value="#{inat}" />
                        </p:dataList>
                    </h:form>
                </pm:content>
            </pm:page>
        </h:body>
    </f:view>
</html>
