<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <f:view renderKitId="PRIMEFACES_MOBILE">   

        <h:head>  

        </h:head>
        <h:body>
            <pm:page id="addCheckin" >
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="arealogada" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>
                <pm:content>           
                    <h:form id="formAddCheckin">
                        <p:growl id="growl2" life="2000"  />
                        <pm:field>
                            <p:outputLabel for="selectOneCheckin" value="Aula" />
                            <p:selectOneMenu id="selectOneCheckin" value="#{checkinsHelper.straula}" >
                                <p:ajax listener="#{checkinsHelper.onAulaChange}" update="dtlistacheckin" />
                                <f:selectItem itemLabel="" itemValue="0" />
                                <f:selectItems value="#{checkinsHelper.aulasRecentesAprovar}" />
                            </p:selectOneMenu>
                        </pm:field>
                        <h:panelGrid columns="1">
                            <h:panelGrid columns="6"><h:graphicImage value="images/reprovar.png"  /> <h:outputText value="Reprova"/><h:graphicImage value="images/esquerda.png"/><h:graphicImage value="images/direita.png"/> <h:outputText value="Aprova"/><h:graphicImage value="images/aprovar.png"  /></h:panelGrid>
                            <h:panelGrid columns="3"> 
                                <p:dataList id="dtlistacheckin" value="#{checkinsHelper.listaCheckin}" var="checkin" pt:data-inset="true" paginator="true" rows="10">
                                    <p:ajax event="swipeleft" listener="#{checkinsHelper.swipeCheckinEsquerda}" update="addCheckin:formAddCheckin" />
                                    <p:ajax event="swiperight" listener="#{checkinsHelper.swipeCheckinDireita}" update="addCheckin:formAddCheckin" />
                                    <h:outputText value="#{checkin.usuario.nome} "/>
                                </p:dataList>
                            </h:panelGrid>

                        </h:panelGrid>
                        <pm:content rendered="#{aulasHelper.verificaAdmin}"> 
                            <h:panelGrid columns="1">
                                <pm:field>
                                    <p:outputLabel for="gridckcompet" value="Competições:" />
                                    <h:panelGrid columns="3" id="gridckcompet"> 
                                        <p:dataList id="dtlistacheckincompet" value="#{checkinsHelper.listaCheckinCompeticao}" var="checkinComp" pt:data-inset="true" paginator="true" rows="10">
                                            <p:ajax event="swipeleft" listener="#{checkinsHelper.swipeCheckinCompeticaoEsquerda}" update="addCheckin:formAddCheckin" />
                                            <p:ajax event="swiperight" listener="#{checkinsHelper.swipeCheckinCompeticaoDireita}" update="addCheckin:formAddCheckin" />
                                            <h:outputText value="#{checkinComp.usuario.nome} - #{checkinComp.tipo}"/>
                                        </p:dataList>
                                    </h:panelGrid>
                                </pm:field>
                            </h:panelGrid>
                            <h:panelGrid columns="1">
                                <pm:field>
                                    <p:outputLabel for="gridckseminar" value="Seminários:" />
                                    <h:panelGrid columns="3" id="gridckseminar"> 
                                        <p:dataList id="dtlistacheckinseminar" value="#{checkinsHelper.listaCheckinSeminario}" var="checkinSemi" pt:data-inset="true" paginator="true" rows="10">
                                            <p:ajax event="swipeleft" listener="#{checkinsHelper.swipeCheckinSeminarioEsquerda}" update="addCheckin:formAddCheckin" />
                                            <p:ajax event="swiperight" listener="#{checkinsHelper.swipeCheckinSeminarioDireita}" update="addCheckin:formAddCheckin" />
                                            <h:outputText value="#{checkinSemi.usuario.nome} - #{checkinSemi.tipo}"/>
                                        </p:dataList>
                                    </h:panelGrid>
                                </pm:field>
                            </h:panelGrid>
                            </pm:content> 


                                </h:form>
                            </pm:content>
                            </pm:page>

                            </h:body>
                            </f:view>
                            </html>
