<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <f:view renderKitId="PRIMEFACES_MOBILE" >   
        <h:head>
        </h:head>
        <h:body>
            <pm:page id="arealogada" >
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><h:graphicImage value="#{aulasHelper.imagemExibicao}" style="border-radius:50%; vertical-align: 17px"/><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div></pm:header>
                <pm:content> 
                    <h:form> 
                        <div id="status"/>
                        <center></center>
                        <p:button outcome="pm:aulas?transition=slideup" icon="ui-icon-calendar" value="Aulas"/>
                        <p:button outcome="pm:competicoes?transition=slideup" icon="ui-icon-calendar" value="Competições"/>
                        <p:button outcome="pm:seminarios?transition=slideup" icon="ui-icon-calendar" value="Seminários"/>
                        <p:commandButton value="Minha Frequência" id="btn-frequencia" icon="ui-icon-bullets" type="button"/>
                        <p:overlayPanel for="btn-frequencia" widgetVar="pnl-basic" at="right" showEffect="overlay">
                            <pm:field >
                                <p:selectOneMenu id="selectAula" value="#{frequenciaHelper.straula}" required="true">
                                    <p:ajax update="listaFrequencia" process="@this"  />
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItems value="#{aulasHelper.categorias}"  />
                                </p:selectOneMenu>
                            </pm:field>
                            <p:dataList id="listaFrequencia" value="#{frequenciaHelper.freqPorMesUsuarioLogado}" var="freq" pt:data-inset="true" paginator="false" >
                                <h:outputText value="#{freq[0]}" binding="#{frequenciaHelper.mesFrequencia}"/>
                                <h:outputText value="/"/>
                                <h:outputText value="#{freq[1]}" binding="#{frequenciaHelper.anoFrequencia}"/>
                                <h:outputText value=": #{freq[2]} Treino(s)." />
                                <p:accordionPanel activeIndex="null">
                                    <p:tab title="Detalhar">
                                        <h:outputText value="Aula: #{frequenciaHelper.freqAulaPorMes}" style="font-size: small"/>
                                        <p></p>
                                        <h:outputText value="Competição: #{frequenciaHelper.freqCompeticaoPorMes}" style="font-size: small"/>
                                        <p></p>
                                        <h:outputText value="Seminário: #{frequenciaHelper.freqSeminarioPorMes}" style="font-size: small"/>
                                    </p:tab>
                                </p:accordionPanel>
                            </p:dataList>

                        </p:overlayPanel>

                        <p:button id ="btnConfig" rendered="#{aulasHelper.verificaAdmin}" icon="ui-icon-gear" styleClass="ui-link ui-btn ui-btn-b ui-icon-gear ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all ui-last-child" outcome="admin" />
                        <p:button id ="btnInfo" rendered="#{pagamentosHelper.avisostatus.size() > 0}" icon="ui-icon-info" styleClass="ui-link ui-btn ui-btn-b ui-icon-info ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all ui-last-child" outcome="avisos" />
                        <p:button id ="btnAprovarCheckins" rendered="#{checkinsHelper.aulasRecentesAprovar.size() > 0 }" icon="ui-icon-star" styleClass="ui-link ui-btn ui-btn-b ui-icon-star ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all ui-last-child" outcome="aprovacao"  />
                        <p:dialog header="Mensagem" widgetVar="dlg1" showEffect="pop" >
                            <h:outputText value="#{aulasHelper.mensagens.mensagem}" />
                            <p/><p/>
                            <h:outputText value="-#{aulasHelper.mensagens.autor}. " style="font-style: italic"/><h:outputText value="#{aulasHelper.mensagens.data} " style="font-style: italic"><f:convertDateTime type="date"  pattern="dd.MM.yyyy" /></h:outputText>
                        </p:dialog>
                    </h:form>
                    <h2 class="head">Onde estamos</h2>
                    <div class="content">
                        <p>Unidade Matriz: Avenida Celso dos Santos, 816 </p>
                        <p>Unidade Moema: Avenida Ibirapuera, 3000</p>
                        <p>Academia Life Health: Estrada do Alvarenga, 441</p>
                    </div>






                </pm:content>


            </pm:page>
            <pm:page id="aulas" lazy="true">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="pm:arealogada" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>

                <pm:content>           
                    <h:form id="formAulas">
                        <p:growl id="growl" life="4000" />
                        <p:dataGrid id="gridAulas" lazy="true" var="aula" value="#{aulasHelper.listaProximasAulas}" columns="3" paginator="true" rows="9" emptyMessage="Nenhuma aula planejada para os próximos dias">
                            <f:facet name="header">
                                Próximas aulas
                            </f:facet>

                            <p:panel header="" style="text-align:center">
                                <h:panelGrid columns="2" style="width:100%; color: #003333; font-weight: bold"> <h:outputText value="#{aula.data}" > <f:convertDateTime type="date"  pattern="dd.MM.yyyy" /></h:outputText><h:outputText value="#{aula.categoriaaula.aula}" /></h:panelGrid>
                                <h:panelGrid columns="2" style="width:100%">
                                    <img src="images/#{aula.categoriaaula.aula}.png"/> 
                                    <h:panelGrid columns="1" style="width:100%; font-size: 12px" >
                                        <h:panelGrid columns="3" style="width:100%; font-size: 12px" ><h:outputText value="#{aula.dia}"/><h:outputText value="-"/>
                                            <h:outputText value="#{aula.horario}" binding="#{aulasHelper.horarioAula}" />
                                        </h:panelGrid>
                                        <h:outputText value="Vagas: #{aula.vagas}" />
                                        <h:outputText value="Unidade: #{aula.academia.academia}" />
                                        <h:outputText value="#{aula.idaula}" binding="#{aulasHelper.idAula}" rendered="false"  >

                                        </h:outputText>
                                        <p:commandButton id ="btn1" rendered="#{aulasHelper.checkinstatus.confirma == null}"  icon="ui-icon-check" styleClass="ui-link ui-btn ui-btn-a ui-icon-check ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all ui-last-child" action="#{aulasHelper.fazCheckin}" update="@form" >
                                            <f:setPropertyActionListener value="#{aula}" target="#{aulasHelper.aulaSelecionada}" />

                                        </p:commandButton>
                                        <p:commandButton id ="btn2" rendered="#{aulasHelper.checkinstatus.confirma == false and aulasHelper.checkinstatus.cria == true}"  icon="ui-icon-check" styleClass="ui-link ui-btn ui-btn-b ui-icon-check ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all ui-last-child" action="#{aulasHelper.fazCheckin}" update="@form" >
                                            <f:setPropertyActionListener value="#{aula}" target="#{aulasHelper.aulaSelecionada}" />
                                        </p:commandButton>
                                        <h:graphicImage value="images/aprovado.png" rendered="#{aulasHelper.checkinstatus.confirma == true}" />
                                        <h:graphicImage value="images/trancado.png" rendered="#{aulasHelper.checkinstatus.cria == false and aulasHelper.checkinstatus.confirma == false}" />
                                    </h:panelGrid>

                                </h:panelGrid>
                            </p:panel>

                        </p:dataGrid>



                    </h:form>

                    <h2 class="head">Onde estamos</h2>
                    <div class="content">
                        <p>Unidade Matriz: Avenida Celso dos Santos, 816 </p>
                        <p>Unidade Moema: Avenida Ibirapuera, 3000</p>
                        <p>Academia Life Health: Estrada do Alvarenga, 441</p>
                    </div>
                </pm:content>

            </pm:page>
            <pm:page id="competicoes" lazy="true">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="pm:arealogada" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>

                <pm:content>           
                    <h:form id="formcompeticoes">
                        <p:growl id="growl" life="4000" />
                        <p:dataGrid id="gridcompeticoes" lazy="true" var="comp" value="#{competicoesHelper.listaProximasCompeticoes}" columns="3" paginator="true" rows="9" emptyMessage="Nenhuma competição planejada para os próximos dias">
                            <f:facet name="header">
                                Próximas competições
                            </f:facet>

                            <p:panel header="" style="text-align:center">
                                <h:panelGrid columns="2" style="width:100%; color: #003333; font-weight: bold"> <h:outputText value="#{comp.data}" > <f:convertDateTime type="date"  pattern="dd.MM.yyyy" /></h:outputText><h:outputText value="#{comp.nome}" /></h:panelGrid>
                                <h:panelGrid columns="2" style="width:100%">
                                    <img src="images/Competicao.png" height="70px" width="70px"/> 
                                    <h:panelGrid columns="1" style="width:100%; font-size: 12px" >
                                        <h:outputText value="Local: #{comp.local}" />
                                        <h:outputText value="Site: #{comp.site}" />
                                        <p:selectOneMenu id="selectOneHora" value="#{competicoesHelper.strTipoCheckin}" required="true" >
                                            <f:selectItem itemLabel="Medalhista(7)" itemValue="Medalhista" />
                                            <f:selectItem itemLabel="Competidor(5)" itemValue="Competidor" />
                                            <f:selectItem itemLabel="Staff(2)" itemValue="Staff" />
                                        </p:selectOneMenu>
                                        <p:commandButton id ="btn2" value="Checkin" update="@form" action="#{competicoesHelper.fazCheckin}" icon="ui-icon-check">
                                            <f:setPropertyActionListener value="#{comp}" target="#{competicoesHelper.competicaoSelecionada}" />
                                        </p:commandButton>
                                    </h:panelGrid>

                                </h:panelGrid>
                            </p:panel>

                        </p:dataGrid>
                        <p></p>
                        <h2>Cadastrar competição: </h2>
                        <h:panelGrid id="gridaddCompeticao" columns="1">
                            <pm:field>
                                <p:outputLabel value="Data: " for="calend1"/>
                                <p:calendar id="calend1" value="#{competicoesHelper.date1}" >
                                    <p:ajax event="dateSelect" listener="#{competicoesHelper.onDateSelect}" update="@form" />
                                </p:calendar>
                            </pm:field>
                            <pm:field rendered="#{competicoesHelper.date1 != null}">
                                <p:outputLabel for="nomeCompeticao" value="Nome da competição" />
                                <h:inputText id="nomeCompeticao" value="#{competicoesHelper.strNome}" />
                            </pm:field>
                            <pm:field rendered="#{competicoesHelper.date1 != null}">
                                <p:outputLabel for="localCompeticao" value="Local da competição(Ginásio/Cidade)" />
                                <h:inputText id="localCompeticao" value="#{competicoesHelper.strLocal}" />
                            </pm:field>
                            <pm:field rendered="#{competicoesHelper.date1 != null}">
                                <p:outputLabel for="siteCompeticao" value="Site" />
                                <h:inputText id="siteCompeticao" value="#{competicoesHelper.strSite}" />
                            </pm:field>
                            <pm:field rendered="#{competicoesHelper.date1 != null}">
                                <p:outputLabel value="" />
                                <p:commandButton value="Grava" action="#{competicoesHelper.novaCompeticao}" update="@form"/>
                            </pm:field>
                        </h:panelGrid>

                        <h2>Excluir competição: </h2>
                        <h:panelGrid columns="1">
                            <h:panelGrid columns="1"><h:outputText value="Arraste para a esquerda para excluir"/></h:panelGrid>
                            <h:panelGrid columns="1"> 
                                <p:dataList id="dtlistacompeticoes" value="#{competicoesHelper.listaCompeticoes}" var="competicoes" pt:data-inset="true" paginator="true" rows="10">
                                    <p:ajax event="swipeleft" listener="#{competicoesHelper.swipeCompeticao}" update="@form" />
                                    <h:outputText value="#{competicoes.nome}: "/><h:outputText value="#{competicoes.data} "><f:convertDateTime type="date"  pattern="dd.MM.yyyy" /></h:outputText>
                                </p:dataList>
                            </h:panelGrid>
                        </h:panelGrid>
                    </h:form>
                    <h2 class="head">Onde estamos</h2>
                    <div class="content">
                        <p>Unidade Matriz: Avenida Celso dos Santos, 816 </p>
                        <p>Unidade Moema: Avenida Ibirapuera, 3000</p>
                        <p>Academia Life Health: Estrada do Alvarenga, 441</p>
                    </div>
                </pm:content>

            </pm:page>
            <pm:page id="seminarios" lazy="true">
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="pm:arealogada" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>

                <pm:content>           
                    <h:form id="formseminarios">
                        <p:growl id="growl" life="4000" />
                        <p:dataGrid id="gridseminarios" lazy="true" var="sem" value="#{seminariosHelper.listaProximosSeminarios}" columns="3" paginator="true" rows="9" emptyMessage="Nenhum seminário planejado para os próximos dias">
                            <f:facet name="header">
                                Próximos seminários
                            </f:facet>

                            <p:panel header="" style="text-align:center">
                                <h:panelGrid columns="2" style="width:100%; color: #003333; font-weight: bold"> <h:outputText value="#{sem.data}" > <f:convertDateTime type="date"  pattern="dd.MM.yyyy" /></h:outputText><h:outputText value="#{sem.nome}" /></h:panelGrid>
                                <h:panelGrid columns="2" style="width:100%">
                                    <img src="images/Seminario.png" height="70px" width="70px"/> 
                                    <h:panelGrid columns="1" style="width:100%; font-size: 12px" >
                                        <h:outputText value="Local: #{sem.local}" />
                                        <h:outputText value="Info: #{sem.descricao}" />
                                        <p:selectOneMenu id="selectOneHora" value="#{seminariosHelper.strTipoCheckin}" required="true" >
                                            <f:selectItem itemLabel="Faixa Preta(5)" itemValue="Preta" />
                                            <f:selectItem itemLabel="GM Flávio Behring(10)" itemValue="Behring" />
                                        </p:selectOneMenu>
                                        <p:commandButton id ="btn2" value="Checkin" update="@form" action="#{seminariosHelper.fazCheckin}" icon="ui-icon-check">
                                            <f:setPropertyActionListener value="#{sem}" target="#{seminariosHelper.seminarioSelecionado}" />
                                        </p:commandButton>
                                    </h:panelGrid>

                                </h:panelGrid>
                            </p:panel>

                        </p:dataGrid>
                        <p></p>
                        <h2>Cadastrar seminário: </h2>
                        <h:panelGrid id="gridaddSeminario" columns="1">
                            <pm:field>
                                <p:outputLabel value="Data: " for="calend1"/>
                                <p:calendar id="calend1" value="#{seminariosHelper.date1}" >
                                    <p:ajax event="dateSelect" listener="#{seminariosHelper.onDateSelect}" update="@form" />
                                </p:calendar>
                            </pm:field>
                            <pm:field rendered="#{seminariosHelper.date1 != null}">
                                <p:outputLabel for="nomeSeminario" value="Nome do seminário" />
                                <h:inputText id="nomeSeminario" value="#{seminariosHelper.strNome}" />
                            </pm:field>
                            <pm:field rendered="#{seminariosHelper.date1 != null}">
                                <p:outputLabel for="localSeminario" value="Local do seminário(Ginásio/Cidade)" />
                                <h:inputText id="localSeminario" value="#{seminariosHelper.strLocal}" />
                            </pm:field>
                            <pm:field rendered="#{seminariosHelper.date1 != null}">
                                <p:outputLabel for="infoSeminario" value="Site" />
                                <h:inputText id="infoSeminario" value="#{seminariosHelper.strInfo}" />
                            </pm:field>
                            <pm:field rendered="#{seminariosHelper.date1 != null}">
                                <p:outputLabel value="" />
                                <p:commandButton value="Grava" action="#{seminariosHelper.novoSeminario}" update="@form"/>
                            </pm:field>
                        </h:panelGrid>

                        <h2>Excluir seminário: </h2>
                        <h:panelGrid columns="1">
                            <h:panelGrid columns="1"><h:outputText value="Arraste para a esquerda para excluir"/></h:panelGrid>
                            <h:panelGrid columns="1"> 
                                <p:dataList id="dtlistaSeminarios" value="#{seminariosHelper.listaSeminarios}" var="seminar" pt:data-inset="true" paginator="true" rows="10">
                                    <p:ajax event="swipeleft" listener="#{seminariosHelper.swipeSeminario}" update="seminarios:formseminarios" />
                                    <h:outputText value="#{seminar.nome}: "/><h:outputText value="#{seminar.data} "><f:convertDateTime type="date"  pattern="dd.MM.yyyy" /></h:outputText>
                                </p:dataList>
                            </h:panelGrid>
                        </h:panelGrid>
                    </h:form>
                    <h2 class="head">Onde estamos</h2>
                    <div class="content">
                        <p>Unidade Matriz: Avenida Celso dos Santos, 816 </p>
                        <p>Unidade Moema: Avenida Ibirapuera, 3000</p>
                        <p>Academia Life Health: Estrada do Alvarenga, 441</p>
                    </div>
                </pm:content>

            </pm:page>


        </h:body>
    </f:view>
</html>
