<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <f:view renderKitId="PRIMEFACES_MOBILE" >   

        <h:head>  
            
        </h:head>
        <h:body>
            <pm:page id="leituraAvisos" >
                <pm:header style="background-color: white"><div class="logo"><h1><a href="arealogada.xhtml"><img src="images/logo-fabiao.gif" alt="logo" /></a></h1></div><p:button outcome="arealogada" value="Voltar" icon="ui-icon-arrow-l" styleClass="ui-btn-left ui-btn-inline"/></pm:header>
                <pm:content>           
                    <h:form id="formAvisos">
                                <p:dataList id="dtlistaavisos" value="#{pagamentosHelper.avisostatus}" var="aviso" pt:data-inset="true" paginator="true" rows="10">
                                    <h:outputText value="#{aviso.data} &lt;br/&gt;" escape="false" style="font-size: 10px"> <f:convertDateTime type="date"  pattern="dd.MM.yyyy" /></h:outputText>
                                    <h:outputText value="#{aviso.mensagem}" style="font-size: 10px"/>
                                </p:dataList>
                    </h:form>
                    <h:inputHidden  value="#{pagamentosHelper.limpeza}"/>
                </pm:content>
            </pm:page>

        </h:body>
    </f:view>
</html>
