<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <f:view renderKitId="PRIMEFACES_MOBILE" >   

        <h:head>  

        </h:head>
        <h:body>

            <h1>O facebook libera uso de aplicativos apenas para contas confirmadas.</h1>
            Verifique em sua caixa de entrada um e-mail enviado pelo facebook no momento do cadastro de sua conta. 
            Ou siga a ajuda descrita pelo Facebook em:   <p></p>
            <a href="https://www.facebook.com/help/224320090914202">Ajuda Facebook</a>
            <p></p>
            <img src="images/erro_email.png" />


        </h:body>
    </f:view>
</html>